<!doctype html>
<html ng-app="iwpm">
  <head>
    <title>InfiniteWPM.com</title>
    <link rel="stylesheet" href="./styles/style.css">
  </head>
  <body ng-controller="MainCtrl" tabindex="0">
    <pre
      id="hack-area"
      ng-cloak
      iwpm-keypress>{{currentText}}<span ng-show="cursorOn">|</span>
    </pre>

    <div id="hint-overlay" class="overlay" ng-class="{'hide': !showHint}">
      <h1>Welcome to InfiniteWPM.com</h1>
      <h2>Press '?' for settings...</h2>
    </div>

    <div class="overlay hide" ng-class="{'hide': !showAbout}">
      <h1>InfiniteWPM.com</h1>
      <h2>About</h2>
      <p>We're under construction. Contact <a href="mailto:kent+dev@doddsfamily.us">Kent</a> with any questions.</p>
      <a href="#">Close</a>
    </div>

    <div class="overlay hide" ng-class="{'hide': !showSettings}">
      <h1>Settings</h1>
      <p>Press '?' to close/open this menu.</p>
      <div>Click <a href="#/about">here</a> for information about InfiniteWPM.com</div>
      <div>Choose from a <a href="#/defaults">list</a> of code defaults.</div>
      <h2>Controls</h2>
      <form>
        Characters Per Keypress: <input type="number" ng-model="charsPerPress" /><br />
        Repeat Text: <input type="checkbox" ng-model="repeatText" />
      </form>
      <a href="#" ng-click="resetText()">Reset</a>
      <h2>Defaults</h2>
      <a href="#">Close</a>
    </div>

    <div class="overlay hide" ng-class="{'hide': !showDefaults}">
      <h1>Defaults</h1>
      <button ng-click="showCrowdCodeSubmissionForm=!showCrowdCodeSubmissionForm">Submit Your own...</button>
      <div ng-show="showCrowdCodeSubmissionForm">
        <label>Code Name</label><input ng-model="crowdName"  type="text" /><br />
        <label>Code Source</label><textarea ng-model="crowdCode"></textarea><br />
        <button ng-click="addCrowedCode()">Add code!</button>
      </div>
      <ul>
        <li ng-repeat="source in crowdCodeSources | orderBy:source.votes:true">
          <button ng-click="resetText(source.code)">{{source.name}}</button> | {{source.votes}}
          | <button ng-click="source.votes = source.votes + 1">Up-vote</button>
          | <button ng-click="source.votes = source.votes - 1">Down-vote</button>
          | <button ng-click="removeSource($index)">Delete</button>
        </li>
      </ul>
      <a href="#">Close</a>
    </div>

    <div class="hide" dropzone>Drop... Anywhere</div>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" data-prop-name="angular" data-local-src="./vendor/angular.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" data-prop-name="jQuery" data-local-src="./vendor/jquery.js"></script>
    <script src="./vendor/dt-script-loader.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>

    <script src="./scripts/app.js"></script>
    <script src="./scripts/controllers/MainCtrl.js"></script>
    <script src="./scripts/directives/iwpmKeypress.js"></script>
    <script src="./scripts/directives/dropzone.js"></script>
    <script src="./scripts/factories/TextSources.js"></script>
    
    <script>
      //Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62924965-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
