body {
  background-color: black;
}

#hack-area {
	height: 100%;
	width: 100%;
  color: #00FF00;
}

#dropzone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px dashed #DFDFDF;
  background-color: rgba(139, 139, 139, 0.75);
  margin: 20px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.overlay {
  position: absolute;
  background-color: rgba(255,255,255,0.85);
  z-index: 1000;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 30px;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

.hide {
  opacity: 0;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}